html {
    color-scheme: dark light;
}

:root {
    --background: #64748b;
    --nav-bar-text: #000000;
    --nav-bar-background: #475569
}


.main-body {
    height: 100vh;
    padding: 0;
}

.portofolio-title {
    margin: 0;
    padding: 0;
}